/Source/Player/Res/*.aps
*.pdb
*.ilk
*.exe
*.res
*.obj
*.pch
*.log
*.tlog
*.lastbuildstate
*.depend
*.stamp
*.filters
*.c
*.cmake
*.bin
*.txt
*.db-wal
*.db-shm
*.db
*.opendb
*.suo
*.vcxproj
*.sln
*.check_cache
*.cpp
